.mui-panel {
  height: 300px;
  text-align: center;
  border-radius: 10px;
  left: 20%;
}
.content-pic{
  height: 256px;
  width: 256px;
}

.mui-row {
    margin-left: 5px;
    margin-right: 5px;
}
.card-header{
    margin: -50px 0 30px 15px;
    width: 150px;
    height: 150px;
}
