.menu-bar{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 260px;
  display: block;
  z-index: 1;
  color: #fff;
  font-weight: 200;
  background: #2C3E50;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #4CA1AF, #2C3E50);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #4CA1AF, #2C3E50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  background-position: 50%;
  box-shadow: 2px 0 2px 0 rgba(0,0,0,.16), 1px 0px 2px 0 rgba(0,0,0,.12);
}

.menu-bar ul{
  width: auto;
  text-decoration: none;
  padding: 0 0 0 0;
}

.menu-bar li{
  background-color: transparent;
  text-decoration: none;
  display: block;
  line-height: 40px;
  margin: 10px 10px 0 10px;
  text-align: center;
  border: none;
  border-radius: 4px;
  transition: all 0.5s;
  cursor: pointer;
}

.menu-bar li{
  font-size: 20px;
}
.menu-bar li a:hover{
  font-size: 20px;
  color:#2196F3;
}

.menu-bar li:hover{
  background: #fff;
  transition: all 0.5s;
  color: #2196F3;
}

a:focus, a:hover {
    text-decoration: none;
}
