.navbar{
   height: 50px;
   display: block;
   background: #EEEEEE;
   color:#fff;
   float: right;
   width: calc(100% - 260px);
   
}
.mui-textfield>input, .mui-textfield>textarea {
        color: #ffff;
}

.mui-select__menu{
    background-color: #fd9710;
    color: brown;

}
.mui-select__menu>div:not(.mui-optgroup__label):not(.mui--is-disabled):hover {
    background-color: #ffffff;
}
